<h2>Referencias Personales</h2>
<ul>
    <li>Juan A. Elsezar</li>
        <ul>
            <li class="subelemento">
                escuelasjelsezar@gmail.com
            </li>
            <li class="subelemento">
                (+54) 9 2945 35-1855
            </li>
        </ul>
    <li>Ivana Rojas Corsico</li>
        <ul >
            <li class="subelemento">
                email
            </li>
            <li class="subelemento">
                nro telefono
            </li>
        </ul>
</ul>
