<h2>
    Formación académica
</h2>
<ul>
    <li>
        Técnico Personal y Profesional
    </li>
    <ul>
        <li class="subelemento">
            Escuela Juan Abdala Chayep
        </li>
        <li class="subelemento">
            (2017-actualmente)
        </li>
    </ul>
    <li>
        Título en Cyberseguridad Cisco
    </li>
    <ul>
            <li class="subelemento">
                via online
            </li>
            <li class="subelemento">
                (2020-2020)
            </li>
    </ul>
</ul>
