body{
background-color: #fdfcfc;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: xx-large;
    font-weight: 400;
}

h2{
    font-size: larger;
    font-weight: 400;
    color: #093337;
}

li{
    font-size: medium;
    list-style: "❈";
    list-style-position: inside;
}

.subelemento{
    list-style: "⁕";
    color: #4e5655;
}

.sidebar{
    margin: 0px;
    background-color: #093337;
    padding-top: 25px;
    padding-left: 20px;
    color:#fdfcfc;
    width: 25%;
    height:100%;
    position:fixed;
}

.pagina{
    margin-left:25%;
    padding: 30px;
}

#logo713{
    padding-bottom: 20px;
    position: fixed;
}
